body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flexbox;
    flex-direction: column;
    align-items: center;
}

label {
    width: 30%;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    display: inline-block;
}

input[type="text"], input[type="range"]{
    width: 60%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-bottom: 10px;
    display: inline-block;
}
input[type="text"][disabled] {
    background-color: #ccc;
    font-weight: bolder; 
}

#tipPercentage {
    background-color: #faedcb;
    color: palevioletred; 
    padding: 10px;
}

#tipAmount {
    background-color: #daeaf6;
    color: darkblue;
    padding: 10px;
}

#totalBill {
    background-color: #eadbdd;
    color: darkred; 
    padding: 10px; 
}

#tipPercentage:hover, #tipAmount:hover, #totalBill:hover {
    background-color: lightgray;
    cursor: pointer;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    label {
        width: 100%;
        text-align: left; 
        margin-bottom: 5px;
    }

    input[type="text"], input[type="range"] {
        width: 100%;
        padding: 10px;
    }
}